:root {
    --orange: hsl(25, 97%, 53%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  background: var(--very-dark-blue);
  color: var(--light-grey);
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#20242c, #191b23);
  max-width: 300px;
  min-width: 250px;
  padding: 2rem;
  border-radius: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.icon-star {
  width: 1rem;
  padding: 1rem;
  background-color: var(--dark-blue);
  border-radius: 50%;
  cursor: pointer;
}

.icon-star:hover {
  background-color: white;
}

.big-white-text {
  font-size: 1.25rem;
  color: white;
}

.rating-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating-numbers i {
  font-style: normal;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  padding: 1rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rating-numbers i:hover {
  background-color: var(--orange);
  color: white;
}

.rating-numbers .selected {
  background-color: var(--light-grey);
  color: white;
}

.button-orange {
  background-color: var(--orange);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.button-orange:hover {
  background-color: white;
  color: var(--orange);
}

#section-thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badge-selected {
  background-color: var(--dark-blue);
  color: var(--orange);
  filter: saturate(0.7);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: fit-content;
}

.thanks-description {
  text-align: center;
}

.attribution {
  margin-top: auto;
  font-size: 11px;
  text-align: center;
  padding-bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-top: 1rem;
}
